<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: "forget-form" }) do |f| %>
  <h3>Forget Password ?</h3>
  <% if flash[:alert] || flash[:notice] || devise_error_messages!.present? %>
    <div class="alert alert-danger">
      <button class="close" data-close="alert"></button>
      <span><%= flash[:alert] || flash[:notice] || devise_error_messages! %></span>
    </div>
  <% end %>
  <p>
     Enter your e-mail address below to reset your password.
  </p>
  <div class="form-group">
    <%= f.email_field :email, autofocus: true, class: "form-control placeholder-no-fix", autocomplete: "off", placeholder:"Email" %>
  </div>
  <div class="form-actions">
    <%= link_to 'Back', new_photographer_session_path, class: "btn btn-default", id: "register-back-btn" %>
    <%= f.submit "Submit", class: "btn btn-success uppercase pull-right" %>
  </div>
<% end %>