<% content_for :css do %>
  <link href="/assets/admin/pages/css/portfolio.css" rel="stylesheet" type="text/css"/>
<% end %>
<% content_for :js do %>
  <script src="/assets/admin/pages/scripts/portfolio.js"></script>
<% end %>
<!-- BEGIN PAGE HEADER-->
<!-- BEGIN PAGE HEAD -->
<div class="page-head">
  <!-- BEGIN PAGE TITLE -->
  <div class="page-title">
    <h1>Events</h1>
  </div>
  <!-- END PAGE TITLE -->
</div>
<!-- END PAGE HEAD -->
<!-- BEGIN PAGE BREADCRUMB -->
<ul class="page-breadcrumb breadcrumb">
  <li>
    <%= link_to 'Home', photographer_events_path(@photographer) %>
  </li>
</ul>
<!-- END PAGE BREADCRUMB -->
<!-- END PAGE HEADER-->
<!-- BEGIN PAGE CONTENT-->
<div class="row">
  <div class="col-md-12">
    <div class="tabbable tabbable-custom tabbable-noborder">
      <div class="tab-content">
        <div class="tab-pane active" id="tab_1">
          <!-- BEGIN FILTER -->
          <div class="margin-top-10">
            <div class="row mix-grid" id='photo-gallery'>
              <% unless @photographer.is_owner %>
                <% if @photographer.id > 300 || current_admin.present? %>
                  <div class="col-md-3 col-sm-4 mix category_2 photo">
                    <div class="mix-inner" id='add-new-event'>
                      <div class="mix-details photo-load-area">
                        <%= link_to '', "#", {class: "mix-link center-link", id: 'add-event', data: {toggle: "modal", target: "#edit-event"}}%>
                      </div>
                    </div>
                  </div>
                <% end %>
              <% end %>
              <%= render @events %>
              <%= render @events_shared %>
              <%= render 'event_modal' %>
            </div>
          </div>
          <!-- END FILTER -->
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  $(function(){
    Portfolio.init();
      <% if photographer_signed_in? && !admin_signed_in? %>
      $('#add-event').click(function(){
        // var metadata = {
        //   event_number: <%#=@new_event.id.to_s%>,
        //   event_url: '/events/' + <%#=@new_event.id.to_s%>
        // };
        Intercom('trackEvent', 'new-event-added', metadata);
      });
    <% end %>
});
</script>
