<% content_for :js do %>
  <%= javascript_include_tag 'cropper.min' %>
<% end %>
<% content_for :css do %>
  <%= stylesheet_link_tag "cropper.min" %>
<% end %>
<!-- BEGIN PAGE BREADCRUMB -->
<ul class="page-breadcrumb breadcrumb">
  <li>
    <%= link_to 'Home', photographer_events_path(@photographer) %>
    <i class="fa fa-circle"></i>
  </li>
  <li>
    <%= link_to 'Profile', photographer_profile_path(@photographer) %>
  </li>
</ul>
<!-- END PAGE BREADCRUMB -->
<!-- BEGIN PAGE CONTENT-->
<div class="row">
  <div class="col-md-12 ">
    <!-- BEGIN SAMPLE FORM PORTLET-->
    <div class="portlet light">
      <div class="portlet-title">
        <div class="caption font-red-sunglo">
          <span class="caption-subject bold uppercase"> Profile </span>
        </div>
      </div>
      <div class="portlet-body form">
        <%= form_for @photographer, url: upd_photographers_path, method: :post, role: "form" do |f| %>
          <% if admin_signed_in? %>
            <%= f.hidden_field :id %>
          <% end %>
          <div class="form-body">
            <%= image_tag @photographer.logo.url, class: 'full-logo' %>
            <div class="form-group form-md-line-input" id="big-file-input">
              <%= f.file_field :logo, class: "form-control"%>
              <label for="form_control_1">logo</label>
              <span class="help-block">Some help goes here...</span>
            </div>
            <a class="btn default" data-target="#full-width" data-toggle="modal" id="width-btn"></a>
            <div class="form-group form-md-line-input">
              <%= f.text_field :name, class: "form-control", placeholder: "Enter name"  %>
              <label for="form_control_1">name</label>
              <span class="help-block">Some help goes here...</span>
            </div>
            <div class="form-group form-md-line-input">
              <%= f.text_field :studio_name, class: "form-control", placeholder: "Enter studio name"  %>
              <label for="form_control_1">Studio name</label>
              <span class="help-block">Some help goes here...</span>
            </div>
            <div class="form-group form-md-line-input">
              <%= f.text_field :street, class: "form-control", placeholder: "Enter street"  %>
              <label for="form_control_1">Street</label>
              <span class="help-block">Some help goes here...</span>
            </div>
            <div class="form-group form-md-line-input">
              <%= f.text_field :zipcode, class: "form-control", placeholder: "Enter zipcode"  %>
              <label for="form_control_1">Zipcode</label>
              <span class="help-block">Some help goes here...</span>
            </div>
            <div class="form-group form-md-line-input">
              <%= f.text_field :city, class: "form-control", placeholder: "Enter city"  %>
              <label for="form_control_1">City</label>
              <span class="help-block">Some help goes here...</span>
            </div>
            <div class="form-group form-md-line-input">
              <%= f.text_field :country, class: "form-control", placeholder: "Enter country"  %>
              <label for="form_control_1">Country</label>
              <span class="help-block">Some help goes here...</span>
            </div>
            <div class="form-group form-md-line-input">
              <%= f.text_field :mobile_number, class: "form-control", placeholder: "Enter mobile number"  %>
              <label for="form_control_1">Mobile number</label>
              <span class="help-block">Some help goes here...</span>
            </div>
            <div class="form-group form-md-line-input">
              <%= f.text_field :office_number, class: "form-control", placeholder: "Enter mobile number"  %>
              <label for="form_control_1">Office number</label>
              <span class="help-block">Some help goes here...</span>
            </div>
            <div class="form-group form-md-line-input">
              <%= f.text_field :website, class: "form-control", placeholder: "Enter website"  %>
              <label for="form_control_1">website</label>
              <span class="help-block">Some help goes here...</span>
            </div>
            <div class="form-group form-md-line-input">
              <%= f.text_field :facebook, class: "form-control", placeholder: "Enter facebook"  %>
              <label for="form_control_1">facebook</label>
              <span class="help-block">Some help goes here...</span>
            </div>
            <div class="form-group form-md-line-input">
              <%= f.text_field :twitter, class: "form-control", placeholder: "Enter twitter"  %>
              <label for="form_control_1">twitter</label>
              <span class="help-block">Some help goes here...</span>
            </div>
            <div class="form-group form-md-line-input">
              <%= f.text_field :instagram, class: "form-control", placeholder: "Enter instagram"  %>
              <label for="form_control_1">instagram</label>
              <span class="help-block">Some help goes here...</span>
            </div>
            <div class="form-actions noborder">
              <%= f.submit 'Submit', class: "btn blue" %>
            </div>
          </div>
        <%end%>
    </div>
    <!-- END SAMPLE FORM PORTLET-->
  </div>
</div>
<!-- full width -->
<div id="full-width" class="modal container fade" tabindex="-1">
  <%= form_for @photographer, url: upd_photographers_path, method: :post, role: "form", html: {id: "modal-form", multipart: true} do |f| %>
    <% if admin_signed_in? %>
      <%= f.hidden_field :id %>
    <% end %>
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
      <h4 class="modal-title">Crop Logo</h4>
    </div>
    <div class="modal-body">
      <div id='crop-panel' hidden>
        <div id='crop-box'>
          <img id='face-canvas'>
        </div>
       <button type='button' class='btn btn-primary' id='rotate-left'>
          <span class="fa fa-rotate-left"></span>
        </button>
        <button type='button' class='btn btn-primary' id='rotate-right'>
          <span class="fa fa-rotate-right"></span>
        </button>
      </div>
        <div id="logo-input" hidden></div>
        <% for attribute in [:crop_x, :crop_y, :crop_w, :crop_h, :crop_rotate] %>
          <%= f.hidden_field attribute, :id => attribute %>
        <% end %>
    </div>
    <div class="modal-footer">
      <button type="button" data-dismiss="modal" class="btn btn-default" id='close-modal'>Close</button>
      <%= f.submit "Save changes", class: "btn blue" %>
    </div>
  <% end %>
</div>
<script>
  $(function(){
    $('#close-modal').click(function(){
      $('#big-file-input').prepend($('#logo-input').find('input'))
    })
    $('#photographer_logo').change(function(evt){
      $('#width-btn').click();
      // $clone = $(this).clone();
      $('#modal-form').find('#logo-input').append($(this))
      $('#crop-panel').show();
      var fr = new FileReader();
      fr.onload = function () {
        $('#face-canvas').attr("src", fr.result)
        $('#face-canvas').cropper({
          movable: false,
          zoomable: false,
          crop: function(e) {
            // Output the result data for cropping image.
            // console.log(e.x);
            // console.log(e.y);
            // console.log(e.width);
            // console.log(e.height);
            // console.log(e.rotate);
            $("#crop_x").val(Math.round(e.x));
            $("#crop_y").val(Math.round(e.y));
            $("#crop_w").val(Math.round(e.width));
            $("#crop_h").val(Math.round(e.height));
            $("#crop_rotate").val(Math.round(e.rotate));
          }
        })
        $('#rotate-left').click(function(){
          $('#face-canvas').cropper('rotate',-90)
        })
        $('#rotate-right').click(function(){
          $('#face-canvas').cropper('rotate',90)
        })
      }
      fr.readAsDataURL(this.files[0]);
    })
  })
</script>
